venv/
__pycache__/
*.pyc
.DS_Store
node_modules/
dist/
.env

# Data
01_matlab_eeg/processed_data/
backend/uploads/
*.mat
*.h5
*.pth
*.json
!package.json
!tsconfig.json
*.ckpt
temp_upload_*.edf
01_matlab_eeg/Bases_datos/
01_matlab_eeg/processed_data/
01_matlab_eeg/temp_imds_data/
01_matlab_eeg/SupportPackages/
processed_files.log
analysis_cache_v3.json
__pycache__/
*.parquet
!test*.parquet
!dummy*.parquet
*.sql
*.xml
!*.png
annotations-events-*

